{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="expediente">Expediente</label>
    <input name="expediente" id="expediente" value="{{ request.form['expediente'] }}" required>
    <label for="fecha">Fecha</label>
    <input name="fecha" id="fecha">{{ request.form['fecha'] }}</input>
    <label for="hora">Hora</label>
    <input name="hora" id="hora">{{ request.form['hora'] }}</input>
    <label for="area">Area</label>
    <input name="area" id="area">{{ request.form['area'] }}</input>
    <input type="submit" value="Save">
  </form>
{% endblock %}
