@import './base.css';


.formkit-form {
  display: flex;
  flex-direction: column;
}

#app .formkit-wrapper {
  max-width: 100%;
  width: 100%;
}

.formkit-outer {
  max-width: 100%;
  width: 100%;
}

.formkit-input {
  height: 40px;
}